@model IEnumerable<News.Models.Article>

@{
    ViewData["Title"] = "Index";
    Layout = "_Admin";
}
<h1>Tin tức</h1>
<section id="content" class="s-content">
    <p>
        <form asp-action="Create">
        <input type="submit" value="Thêm mới" class="btn btn-primary" />
        </form>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>@Html.DisplayNameFor(model => model.IsCensored)</th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @item.GetCensorStatus()
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>