@model News.Models.Article

@{
    ViewData["Title"] = "Details";
    Layout = "_Articles";
}
<div id="content" class="s-content s-content--blog">

    <div class="row entry-wrap">
        <div class="column lg-12">

            <article class="entry format-standard">

                <header class="entry__header">

                    <h1 class="entry__title">
                        @Model.Title
                    </h1>

                    <div class="entry__meta">
                        <div class="entry__meta-author">
                            <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <circle cx="12" cy="8" r="3.25" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></circle>
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.8475 19.25H17.1525C18.2944 19.25 19.174 18.2681 18.6408 17.2584C17.8563 15.7731 16.068 14 12 14C7.93201 14 6.14367 15.7731 5.35924 17.2584C4.82597 18.2681 5.70558 19.25 6.8475 19.25Z"></path>
                            </svg>
                            <a href="#">@Model.User.Name</a>
                        </div>
                        <div class="entry__meta-date">
                            <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <circle cx="12" cy="12" r="7.25" stroke="currentColor" stroke-width="1.5"></circle>
                                <path stroke="currentColor" stroke-width="1.5" d="M12 8V12L14 14"></path>
                            </svg>
                            @Model.DateCreated
                        </div>
                        <div class="entry__meta-cat">
                            <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 17.25V9.75C19.25 8.64543 18.3546 7.75 17.25 7.75H4.75V17.25C4.75 18.3546 5.64543 19.25 6.75 19.25H17.25C18.3546 19.25 19.25 18.3546 19.25 17.25Z"></path>
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M13.5 7.5L12.5685 5.7923C12.2181 5.14977 11.5446 4.75 10.8127 4.75H6.75C5.64543 4.75 4.75 5.64543 4.75 6.75V11"></path>
                            </svg>

                            <span class="cat-links">
                                <a href="#0">@Model.Category.Name</a>
                            </span>
                        </div>
                        <div class="entry__meta-cat">
                            <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 17.25V9.75C19.25 8.64543 18.3546 7.75 17.25 7.75H4.75V17.25C4.75 18.3546 5.64543 19.25 6.75 19.25H17.25C18.3546 19.25 19.25 18.3546 19.25 17.25Z"></path>
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M13.5 7.5L12.5685 5.7923C12.2181 5.14977 11.5446 4.75 10.8127 4.75H6.75C5.64543 4.75 4.75 5.64543 4.75 6.75V11"></path>
                            </svg>

                            <span class="cat-links">
                                <a href="javascript:void(0)" id="printLink">Print</a>
                            </span>
                        </div>
                        <div class="entry__meta-author">
                            <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <circle cx="12" cy="8" r="3.25" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></circle>
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.8475 19.25H17.1525C18.2944 19.25 19.174 18.2681 18.6408 17.2584C17.8563 15.7731 16.068 14 12 14C7.93201 14 6.14367 15.7731 5.35924 17.2584C4.82597 18.2681 5.70558 19.25 6.8475 19.25Z"></path>
                            </svg>
                            <a href="javascript:void(0)" id="tellFriendLink">Tell your friend</a>
                        </div>
                    </div>
                </header>

                <div class="entry__media" style="display:flex; justify-content:center;">
                    <figure class="featured-image">
                        <img src="@Model.ImageUrl"
                             srcset="@Model.ImageUrl 1200w,
                                              @Model.ImageUrl 1200w,
                                              @Model.ThumbUrl 600w" sizes="(max-width: 1200px) 100vw, 1200px" alt="">
                    </figure>
                </div>

                <div class="content-primary">

                    <div class="entry__content">

                        @Html.Raw(Model.Content)

                        <div class="entry__author-box">
                            <figure class="entry__author-avatar">
                                <img alt="" src="@Model.User.AvatarUrl" class="avatar">
                            </figure>
                            <div class="entry__author-info">
                                <h5 class="entry__author-name">
                                    <a href="#0">
                                        @Model.User.Name
                                    </a>
                                </h5>
                                <p>
                                    @Model.User.Introduce
                                </p>
                            </div>
                        </div>

                    </div> <!-- end entry-content -->

                    <div class="post-nav">
                        <div class="post-nav__prev">
                            @if (ViewBag.PreviousArticle != null)
                            {
                                <a href="@Url.Action("Details","Article", new { id = ViewBag.PreviousArticle.Id})" rel="prev">
                                    <span>Prev</span>
                                    @ViewBag.PreviousArticle.Title
                                </a>
                            }
                        </div>
                        <div class="post-nav__next">
                            @if (ViewBag.NextArticle != null)
                            {
                                <a href="@Url.Action("Details","Article", new {id = ViewBag.NextArticle.Id})" rel="next">
                                    <span>Next</span>
                                    @ViewBag.NextArticle.Title
                                </a>
                            }
                        </div>
                    </div>

                </div> <!-- end content-primary -->

            </article> <!-- end entry -->


        </div>
    </div> <!-- end entry-wrap -->
    </section> <!-- end s-content -->
    <script>
        document.getElementById("printLink").addEventListener("click", function () {
            window.print();
        });
        document.getElementById("tellFriendLink").addEventListener("click", function () {
            var articleTitle = document.querySelector('.entry__title').innerText;
            var articleUrl = window.location.href;
            var message = "Hello,\n\nTôi muốn chia sẻ với bạn một bài viết thú vị: " + articleTitle + ".\nBạn có thể đọc nó tại đây: " + articleUrl + "\n\nChúc bạn một ngày tốt lành!";
            var mailToLink = "mailto:?subject=" + encodeURIComponent(articleTitle) + "&body=" + encodeURIComponent(message);
            window.location.href = mailToLink;
        });
    </script>
