@model IEnumerable<News.Models.Article>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- hero -->
<div class="hero">
    <div class="hero__slider swiper-container">

        <div class="swiper-wrapper">
            @foreach (var item in Model)
            {
                <article class="hero__slide swiper-slide">
                    <div class="hero__entry-image" style="background-image: url('@item.ImageUrl');"></div>
                    <div class="hero__entry-text">
                        <div class="hero__entry-text-inner">
                            <div class="hero__entry-meta">
                                <span class="cat-links">
                                    <a asp-controller="Categories" asp-route-id="@item.CategoryId" asp-action="Details">@item.Category.Name</a>
                                </span>
                            </div>
                            <h2 class="hero__entry-title">
                                <a asp-controller="Articles" asp-route-id="@item.Id" asp-action="Details">
                                    @item.Title
                                </a>
                            </h2>
                            <p class="hero__entry-desc">
                                @item.Description
                            </p>
                            <a class="hero__more-link" asp-controller="Articles" asp-route-id="@item.Id" asp-action="Details">Read More</a>
                        </div>
                    </div>
                </article>
            }
        </div> <!-- swiper-wrapper -->

        <div class="swiper-pagination"></div>

    </div> <!-- end hero slider -->

    <a href="#bricks" class="hero__scroll-down smoothscroll">
        <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10.25 6.75L4.75 12L10.25 17.25"></path>
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 12H5"></path>
        </svg>
        <span>Scroll</span>
    </a>

</div> <!-- end hero -->